.leaflet-control-layers {
  background-image: url("assets/leaflet/layers.png");
}

.leaflet-control-layers-2x {
  background-image: url("assets/leaflet/layers-2x.png");
}

.leaflet-marker-icon {
  background-image: url("assets/leaflet/marker-icon.png");
}

.leaflet-marker-icon-2x {
  background-image: url("assets/leaflet/marker-icon-2x.png");
}
